@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $dark;
  color: $white;
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    background: darken($dark, 5%);
    left: 0;
    top: 0;
    right: 0;
    z-index: 998;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    .nav-link {
      text-align: center;
    }
  }

  .navbar-toggler {
    z-index: 999;
  }
}

.cursorPointer {
  cursor: pointer;
}

.h-115x {
  height: 115px;
}
